* {
    margin: 0;
    padding: 0;
    font-family: $defaultFont;
}

html {
    scroll-behavior: smooth;
}

main,
main > section {
    display: flex;
    flex-direction: column;
}

main > section {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

video {
    display: flex;
    object-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

details {
    display: none;
}
