@media (min-width:600px) {
    details {
        display: none;
    }

    [type="submit"]{
        transition: .4s;

        &:hover {
            background-color: $defaultGray;
            color: white;
        }
    }

    nav {
        padding-top: 0;
        padding-bottom: 2vh;
        height: 15vh;
        display: flex;
        row-gap: 4vh;

        > section {
            height: 3vh;
            position: fixed;
            width: 100%;
            z-index: 1;
            background-color: white;
        }

        > article {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            column-gap: 0;
        }

        > article > h1 {
            width: fit-content;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li {
            display: flex;
            width: 12%;
        }
        
        a {
            display: flex;
            padding: 1%;
            width: 100%;
            height: 3vh;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $defaultColor;
            text-align: center;
            transition: .4s;
        }

        a:hover {
            background-color: gainsboro;
            color: $defaultBlue;
        }
    }

    .features {
        flex-direction: row;
        column-gap: 5vh;
    }

    .activities {
        > article {
            background-position: center;
        }

        >section {
            width: unset;
        }

        figure {
            width: 90%;
            flex-direction: row;
            column-gap: 3vh;
            padding: 3%;
        }

        img {
            width: 15vh;
            height: 15vh;
        }

    }

    .company {
        
        img {
            width: 50%;

        }
        
        figcaption {
            row-gap: 2vh;
            align-items: flex-start;
        }
    
        a {
            width: 20%;
            font-size: 18px;
            transition: .4s;
        
            &:hover {
                background-color: $defaultGray;
                color: white;
            }
        }

        > section {
            width: 90%;
        }

        > article {
            width: 90%;
        }

    }

    .contact {
        padding-right: 10%;

        > section {
            align-items: flex-end;
        }

        figure {
            align-items: flex-end;
        }

        form {
            width: 50%;
        }

        figcaption {
            width: 45vh;
        }

        img {
            height: 30vh;
            object-position: top;
            object-fit: cover;
            width: 45vh;
        }

    }

    .faq {
        width: 100%;
        align-items: center;

        > section {
            width: 90%;
            justify-content: center;
            row-gap: 4vh;
            display: flex;
            flex-direction: column;
        }

        
    }


}